<div class="container" style="padding: 18px;">
  <app-nav></app-nav>
    <div *ngIf="user">
        <h2>Editar usuario</h2>
      </div>
      <div *ngIf="!user">
        <h2>Crear Usuario</h2>
      </div>
    <form (ngSubmit)="save()" #myForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" [(ngModel)]="query.name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Correp:</label>
          <input type="email" id="email" name="email" [(ngModel)]="query.email" class="form-control" required>
        </div>
        <div *ngIf="!user">
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" [(ngModel)]="query.password" class="form-control" required>
          </div>
        </div>
        <br>
        <div *ngIf="user">
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
          <div *ngIf="!user">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
      </form>
      <br>
</div>
