<div class="container">
    <div class="text-center">
        <h4>Lista usuarios</h4>
    </div>

    <div class="">
      <button class="btn btn-primary" (click)="editUser('')">Agregar usuario</button>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">email</th>
            <th scope="col">options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <p>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Eliminar</button> 
                &nbsp;
                <button class="btn btn-secondary btn-sm" (click)="editUser(user)">Editar</button>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
</div>
