<div class="container" style="padding: 18px;">
    <app-nav></app-nav>
    <div *ngIf="product">
        <h2>Editar usuario</h2>
      </div>
      <div *ngIf="!product">
        <h2>Crear Usuario</h2>
      </div>
    <form (ngSubmit)="save()" #myForm="ngForm">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" [(ngModel)]="query.name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="last_name">Descripción:</label>
          <input type="text" id="description" name="descriptio" [(ngModel)]="query.description" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">Código:</label>
          <input type="email" id="code" name="code" [(ngModel)]="query.code" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Precio:</label>
            <input type="email" id="price" name="price" [(ngModel)]="query.price" class="form-control" required>
          </div>
        <br>
        <div *ngIf="product">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
          <div *ngIf="!product">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
      </form>
      <br>
</div>
